// /* ============================================================================================================================== */
                      /* contact */
/* ============================================================================================================================= */
// #contact{
//   background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/others/contact-bg1.jpg") no-repeat center center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   height: 100vh;
//   width: 100%;
//   display: flex;
//   align-items: center; 
// }
// .section-main.section-title{}

// .section-main.section-title h1{text-align: left;font-size: 45px;}

// .section-main.section-title p{ font-size: 28px;text-align: left}

// .contact-section-title__title {
//   margin: 0;
//   color: var(--insur-black);
//   font-size: 35px;
//   line-height: 40px;
//   font-weight: 700;
//   letter-spacing: var(--insur-letter-spacing);
// }


// .contact-page__left .section-title {
//   margin-bottom: 20px;
// }

// .adrr{

//   .wrap{
//     margin-bottom: 20px;
//       &-head{
//           h4{color:rgb(16,42,188); }
//       }
//       &-body{
//           // border: 1px solid red;
//           .normal-x{
//               margin: 5px;
//               display: flex;
//   align-items: center;
//               .fa{margin-right: 5px;color:teal}
//               p{}
//               span{font-weight: 900;color:teal}
              
//           }
//       }
//   }
  
// }
// .contact-form-media {
// padding: 100px 0;
// background: #fff; }

// .contact-form-media-content {
// padding: 50px 40px;
//  background: rgb(240, 243, 242); 
// .second-2{margin-top: 50px;}
// }
// .contact-form-media-content .contact-form h3 {

// }
// .contact-form-media-content .title{
// margin-bottom: 30px
// }
// .contact-form-media-content .title h3{
// padding-bottom: 6px;   
//   color: #46485c;
// line-height: 30px;
//   font-size: 30px;
// font-family: montserrat;font-weight: 200;
// margin: 0 0 5px 0;text-transform: uppercase;
// letter-spacing: .05em;  
// }
// .contact-form-media-content .title p{
// width: 80%;
//    color: #5f727f;
// font-size: 16px;
// font-weight: 300;
// font-family: 'Blinker', sans-serif;line-height: 22px;
// }
// /*   .contact-form-media-content .contact-form p {
 
// } */
// /* .contact-form-media-content .contact-form .form-group.field-wrapper{
//    margin-bottom: -22px;
// } */
// .contact-form-media-content .contact-form .form-group {
//   position: relative;margin-top: 5px; margin-bottom: 12px}
//   .contact-form-media-content .contact-form .form-group .form-control {
//     width: 100%;
//     height: 52px;
//     border: 1px solid #eee;
//     color: #7f7e84;
//     font-size: 12px;
//     font-style: italic;
//     padding: 15px 20px;
//     background-color: white;
// /*         margin-bottom: 3px; */
//     transition: background-color 0.3s ease-in-out;
//     box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15); }
//   .contact-form-media-content .contact-form .form-group textarea.form-control {
//     height: 120px !important; }
//   .contact-form-media-content .contact-form .form-group .form-control:focus {
//     outline: none;
//     border: none; }
//   .contact-form-media-content .contact-form .form-group .form-control::placeholder {
//     color: #495057; }
//   .contact-form-media-content .contact-form .form-group span {
//     position: absolute;
//     transition: transform 0.5s ease; }
//   .contact-form-media-content .contact-form .form-group .bottom {
//     height: 2px;
//     left: 0;
//     right: 0;
//     transform: scaleX(0);
//     background-color: #eee; }
//   .contact-form-media-content .contact-form .form-group .top {
//     height: 2px;
//     left: 0;
//     right: 0;
//     transform: scaleX(0);
//     background-color: #dbd8d8; }
//   .contact-form-media-content .contact-form .form-group .left {
//     width: 2px;
//     top: 0;
//     bottom: 0;
//     transform: scaleY(0);
//     background-color: #dbd8d8; }
//   .contact-form-media-content .contact-form .form-group .right {
//     width: 2px;
//     top: 0;
//     bottom: 0;
//     transform: scaleY(0);
//     background-color: #dbd8d8; }
//   .contact-form-media-content .contact-form .form-group .bottom {
//     bottom: 0;
//     transform-origin: bottom right; }
//   .contact-form-media-content .contact-form .form-group .form-control:focus ~ .bottom {
//     transform-origin: bottom left;
//     transform: scaleX(1); }
//   .contact-form-media-content .contact-form .form-group .right {
//     right: 0;
//     transform-origin: top right; }
//   .contact-form-media-content .contact-form .form-group .form-control:focus ~ .right {
//     transform-origin: bottom right;
//     transform: scaleY(1); }
//   .contact-form-media-content .contact-form .form-group .top {
//     top: 0;
//     transform-origin: top left; }
//   .contact-form-media-content .contact-form .form-group .form-control:focus ~ .top {
//     transform-origin: top right;
//     transform: scaleX(1); }
//   .contact-form-media-content .contact-form .form-group .left {
//     left: 0;
//     transform-origin: bottom left; }
//   .contact-form-media-content .contact-form .form-group .form-control:focus ~ .left {
//     transform-origin: top left;
//     transform: scaleY(1); }
//   .contact-form-media-content .contact-form .form-group .form-control:hover ~ .bottom {
//     transform-origin: bottom left;
//     transform: scaleX(1); }
// .contact-form-media-content .bttn-fill.bttn-primary {
//   background: #0d1120;
//   color: #aaa;
//   transition: all 1s ease;
//   font-weight: bold; }
// .contact-form-media-content .bttn-fill.bttn-primary:hover {
//   color: #fff;
//   transition: all 1s ease; }
// .contact-form-media-content .bttn-fill.bttn-md {
//   font-size: 1rem;
//   padding: 10px 45px; }
// /*   .contact-form-media-content .contact-media .contact-media-content {
//   padding-top: 40px; } */

//   .contact-form-media-content .col-md-6{
//     padding: 10px 10px 0px 10px ;
//     margin-bottom: 50px;

// }
// .contact-form-media-content .col-md-6 .contains{
//     width: 100%;
//     height: 150px;
//     background: #fff;}
// .contact-form-media-content .col-md-6
// {
//      h3{
//          padding-bottom: 6px;   
//           color: #46485c;line-height: 30px;
//         font-size: 20px;
//         font-family: montserrat;
//         font-weight: 200;
//         margin: 0 0 1px 0;
//         text-transform: uppercase;
//         letter-spacing: .05em;

//     }  
//     .title{
//         h3{
//           font-size: 35px;  
//             margin-bottom: 20px
//         }
//         p{line-height: 20px;font-weight: 300}  
//     }
// }

//   .contact-form-media-content .socials {
//     display: flex !important;
//       background: white;
//       padding: 5px 15px 0px 15px;
// }
//     .contact-form-media-content .socials i.fa {
//       margin-right: 10px;
//       padding-top: 5px;
//        color: $color-1;
// }
// .contact-form-media-content .socials span{font-weight: 700;color:$color-1; }
//     .contact-form-media-content .socials p {
//       margin-bottom: 0.5rem !important;
//       font-size: 14px;
//       color: #5f727f; 
//        line-height: 20px}
//   .contact-form-media-content  .nav a {
//     width: 50px;
//     height: 50px;
//     background: white;
//     color: #5f727f;
//     line-height: 30px;
//     border-radius: 50%;
//     margin-right: 5px; }

    
// .services-service .nav.flex-column .nav-item{padding: 3px 5px;transition: .9s all ease;
//   border: 1px solid #dddddd;border-top: none; }
// .services-service .nav.flex-column .nav-item.active{
//   background:  #0d1120;
// }
// .services-service .nav.flex-column .nav-item.active .nav-link{color: #aaa}
// .services-service .nav.flex-column .nav-item:first-child{border-top: 1px solid #dddddd;}
// .services-service .nav.flex-column .nav-item:hover{background:  #0d1120;transition: .9s all ease;}
// .services-service .nav.flex-column .nav-item .nav-link{
//   color: #46485c;font-family: montserrat;font-size: 14px;
//   font-weight: 600;transition: .9s all ease;
// }
// .services-service .nav.flex-column .nav-item .nav-link:hover{
//   font-weight: 700;transition: .9s all ease;color: #aaa;
// }

// .blending-content{background: white;}
// .blending-content .h1-title{font-size: 25px;text-align: left;line-height: 30px;font-weight: 400; width: 80% }

// .features{padding-top: 40px;}


// .features h5{margin-bottom: 15px}
// .features p{margin-bottom: 5px}
// .features p .fa.fa-check{color: #b33000;}
// .features p span{margin-left: 10px}


// .non-home-contact-btn{

// padding: 100px;
// background: rgb(240, 243, 242);
// }
// .non-home-contact-btn .containing{display: flex}
// .non-home-contact-btn .containing h5{font-size: 25px;margin-top: 15px;color: #0d1120; font-weight: 300; text-transform: capitalize}
// .non-home-contact-btn .containing a{margin-left: auto; padding: 10px 20px;font-family: montserrat ;font-weight: 300;
//   font-size: 20px;color: #0d1120;border: none;background:transparent;transition: ease all .9s
// }
// .non-home-contact-btn .containing a:hover{background:#0d1120 ;
//   border:1px solid #aaa ; 
//   color: #aaa; transition: ease all .9s}
// //==============================================================
// //===============================================================
// //               responsive                                  
// //==============================================================
// //================================================================

// @media (min-width: 320px) and (max-width: 500px) {
//     #contact{
//       background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/others/contact-bg-sm.jpg") no-repeat center center;
//       -webkit-background-size: cover;
//       -moz-background-size: cover;
//       -o-background-size: cover;
//       background-size: cover;
//       height: 39vh;

//   }
//   .contact-form-media {
//     padding: 20px 0;
// }
// .contact-form-media {
//   padding: 20px 0;
// }
// .contact-form-media-content{
// padding: 20px;
// .title{
//     margin-bottom: 15px;
//     text-align: center;
//     h3{font-size: 25px}
//     p{width: 100%}
// }
// .col-md-6{
//     margin-bottom: 20px;
//     h3{font-size: 20px;text-align: center}
// }
// }

// .contact-form-media-content .bttn-fill.bttn-md {
// font-size: 1rem;
// padding: 10px 45px;
// width: 100%
// }



// }




.single-contact-one-inner {
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  border-radius: 15px;
  height: 100%;
}
.single-contact-one-inner .thumbnail {
  display: block;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.single-contact-one-inner .thumbnail img {
  width: 100%;
  transition: 0.3s;
}
.single-contact-one-inner .thumbnail:hover img {
  transform: scale(1.1);
}
.single-contact-one-inner .content {
  display: flex;
  align-items: center;
  padding: 40px;
}
@media only screen and (max-width: 767px) {
  .single-contact-one-inner .content {
    padding: 15px;
  }
}
.single-contact-one-inner .content .icone {
  margin-right: 20px;
}
.single-contact-one-inner .content .info span {
  margin-bottom: 0;
  color: var(--color-primary);
  font-weight: 500;
}
.single-contact-one-inner .content .info a h5 {
  margin-bottom: 0;
  transition: 0.3s;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-contact-one-inner .content .info a h5 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .single-contact-one-inner .content .info a h5 {
    font-size: 18px;
  }
}
.single-contact-one-inner .content .info h5 {
  font-size: 20px;
}
.single-contact-one-inner .content .info a:hover h5 {
  color: var(--color-primary);
}


///////////////////////////////////////


.big-bg-porduct-details {
  // position: relative;
}
.big-bg-porduct-details img {
  width: 100%;
  border-radius: 0;
}
.big-bg-porduct-details .contact-info {
  // position: absolute;
  // right: 0;
  // bottom: 0;
  background: #fff;
  //width: 386px;
  // box-shadow: 0px 10px 21px rgba(27, 18, 18, 0.05);
  // border-radius: 0 0 0 0;
}
@media only screen and (max-width: 1199px) {
  .big-bg-porduct-details .contact-info {
    bottom: -66px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .big-bg-porduct-details .contact-info {
    // position: relative;
    width: 100%;
    border-radius: 0;
    margin-bottom: 30px;
    margin-top: -33px;
  }
}
@media only screen and (max-width: 767px) {
  .big-bg-porduct-details .contact-info {
    // position: relative;
    width: 100%;
    border-radius: 0;
    margin-bottom: 30px;
    margin-top: -33px;
  }
}
.big-bg-porduct-details .contact-info .info-head {
  padding: 14px 20px;
  background: var(--color-primary);
  border-radius: 0 0 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .big-bg-porduct-details .contact-info .info-head {
    border-radius: 0 0 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .big-bg-porduct-details .contact-info .info-head {
    border-radius: 0 0 0 0;
  }
}
@media only screen and (max-width: 479px) {
  .big-bg-porduct-details .contact-info .info-head {
    padding: 12px 14px;
  }
}
.big-bg-porduct-details .contact-info .info-head .title {
  color: #fff;
  margin-bottom: 0;
  font-size: 20px;
}
@media only screen and (max-width: 479px) {
  .big-bg-porduct-details .contact-info .info-head .title {
    font-size: 18px;
  }
}
.big-bg-porduct-details .contact-info .info-body {
  padding: 15px 20px;
}
@media only screen and (max-width: 479px) {
  .big-bg-porduct-details .contact-info .info-body {
    padding: 15px 10px;
  }
}
.big-bg-porduct-details .contact-info .info-body .single-info {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #E9E9E9;
}
@media only screen and (max-width: 479px) {
  .big-bg-porduct-details .contact-info .info-body .single-info {
    padding: 15px 0;
  }
}
.big-bg-porduct-details .contact-info .info-body .single-info:last-child {
  border-bottom: none;
}
.big-bg-porduct-details .contact-info .info-body .single-info .info-ico i {
  height: 50px;
  width: 50px;
  background: #F9F0F0;
  color: var(--color-primary);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.big-bg-porduct-details .contact-info .info-body .single-info .info-details {
  margin-left: 20px;
}
.big-bg-porduct-details .contact-info .info-body .single-info .info-details span {
  margin-bottom: 5px;
}
.big-bg-porduct-details .contact-info .info-body .single-info .info-details .name {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 3px;
}